// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*********************************************************************/
/* Login page */
/*********************************************************************/
#login {
  text-align: center;
  margin-top: 20%;
}

/* The whole webpage itself */
#document-body {
  font: 14px/20px Verdana;
  margin: 0;
  padding: 0;
  
  overflow: hidden; /* Disable scrollbar for the page */
}

/* Top title bar of the page */
#page-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: auto;
  height: 50px;
  clear: both; /* Span horizontally */
  background-color: rgb(69, 103, 181);
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  color:white;
}

#header {
top:20px;
margin:10px;
}

#logo {
  float:left;
  z-index: 1; 
  position:relative
} 

#logo img {  
  width:180px;
}


/* Main body of the page, include sidebar and main contain */
#page-content {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Disable scrollbar for the page */
}

/* Sidebar */
#side {
  position: absolute;
  top: 55px;
  left: 0;
  bottom: 0;
  float: left; /* Make the side bar float on the left */
  width: 150px;
  height: auto;
  overflow: scroll; /* Disable scrollbar for sidebar */
  background-color: rgb(69, 103, 181);
  margin: 0;
  padding: 20px;
}

.day a:link {
  color:white;
  text-decoration:none;
}

.day a:visited {
  color:white;
  text-decoration:none;
}

#side a,
#side a:visited {
  color: white;
  text-decoration: none; /* Remove underline of the link */
}

#side a:hover,
#side a:hover:visited {
  color: red; /* Give a yellow color when mouse moves over */
}

/* Main content */
#main {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 190px;
  overflow: auto;
  margin: 0;
  padding: 0 20px;
}

table {
  border-collapse:collapse;
  margin: 10px 0;
}

table, th, td {
  border: 1px solid black;
}

tr.list_head {
  background-color:rgb(51, 57, 136);
  font-family:arial;
  color:white;
}

th, td {
  padding: 5px;
  font-family:arial;
}

td.disabled {
  background-color: rgb(188, 190, 192);
  text-align: center;
}

td.available {
  background-color: rgb(80, 215, 73);
  text-align: center;
}

td.unavailable {
  background-color: rgb(255, 24, 0);
  text-align: center;
}

td.booked {
  background-color: white;
  text-align: center;
}

#date a {
  color:black!important;
  text-decoration:none!important;
}

/*notice*/
.notice {
  color: rgb(88, 212, 75);
  font-weight: bold;
  font-size:30px;
}

/* Exception */
.error {
  color: red;
  font-weight: bold;
}

#errorExplanation {
  width: auto;
  border: 2px solid red;
  padding: 0px 10px;
  margin: 10px 0;
  h2 {
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    color: red;
  }
  ul li {
    list-style: square;
  }
}

#success{
  width: auto;
  border: 2px solid green;
  padding: 0px 10px;
  margin: 10px 0;
  h2 {
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    color: rgb(61,243,4);
  }
  ul li {
    list-style: square;
  }
}

#password {
  margin-left:6px;
}

.field {
  margin: 15px 0;
}

.actions {
  margin: 15px 0;
}

.field_with_errors {
  display: inline;
  color: red;
}

/*student make_booking information display*/

.info {
  padding:10px;
  margin:5px;
}

.data {
  border: 2px solid white;
  border-radius:5px;
  background-color: rgb( 43, 103, 221);
  /*rgb( 52, 73, 140);*/
  padding:5px;
  font-family:arial;
  color:white;
}

.data-num {
  psotion:absolute;
  right:300px;
  border: 2px solid white;
  border-radius:40px;
  background-color: rgb(  182, 195, 228);
  padding:5px;
  font-family:arial;
  padding-left:10px;
  padding-right:10px;
  font-family:arial;

}
