<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>following lab has been cancelled</p>
    
    <p> Experiment Name : <%= @experiment_name %></p>
    <p><%= link_to @url, @url %></p>
    <p> Please contact the administrator for the 3rd Year Lab if there is an issue with your booking.</p>
    <br/>
    <p>Regards,</p>
    <p> Admin, 3rd Year Physics Lab</p>
    <p>
  </body>
</html>