<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Third Year Lab Booking System</h1>
    <p>You have been registered for the lab booking system.</p>
    <p>You can login to the system <%= link_to "through this link", @url %>.</p>
    <p> The following is your login details: </p>
    <ul>
      <li>Username: <%= @username %></li>
      <li>Password: <%= @password %></li>
    </ul>
    <p>You are highly encouraged to change the password after login.</p>
    <p>Thank you and hope you enjoy the system.</p>
  </body>
</html>